amqp
asgiref
asn1crypto
asttokens
apify-client
async-timeout
attrs
Automat
backoff
beautifulsoup4
billiard
cachetools
SQLAlchemy>=1.4.49,<2.0.30  # Ensure compatibility with langchain
crewai==0.67.1  # Ensure compatibility with langchain
crewai-tools==0.8.3  # Adjusted for compatibility
# langchain==0.2.1 # Ensure compatibility with crewai and embedchain
paramiko
matplotlib
bokeh
django-tenants
openai
celery
certifi
cffi
cfgv
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
coverage
crispy-bootstrap5
cron-descriptor
cryptography
cssselect
decorator
defusedxml
distlib
Django
django-auditlog
django-celery-beat
django-cors-headers
django-role-permissions
django-snowflake
django-softdelete
django-crispy-forms
django-timezone-field
djangorestframework
djangorestframework-simplejwt
emoji
et-xmlfile
exceptiongroup
executing
filelock
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-dialogflow-cx
googleapis-common-protos
grpcio
grpcio-status
gunicorn
hikerapi
h11
httplib2
hyperlink
identify
idna
incremental
ipython
itemadapter
itemloaders
jedi
Jinja2
jmespath
jupyter
kombu
lxml
lunyamwi==1.0.21
mailchimp-marketing
matplotlib-inline
nodeenv
numpy
oauthlib
openpyxl
outcome
packaging
pandas
parsel
parso
pexpect
Pillow
platformdirs
pre-commit
prompt-toolkit
Protego
proto-plus
protobuf
psycopg2-binary
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pydantic
PyDispatcher
Pygments
PyJWT
pyOpenSSL
pyparsing
PySocks
python-crontab
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
queuelib
redis
requests
requests-file
requests-oauthlib
robotframework
rsa
Scrapy
selenium
sentry-sdk
sphinx
sphinx-rtd-theme
service-identity
six
sniffio
snowflake-connector-python
sortedcontainers
soupsieve
sqlparse
stack-data
tabulate
tldextract
tomlkit
traitlets
trio
trio-websocket
tweepy
Twisted
typing_extensions
tzdata
uritemplate
urllib3
vine
virtualenv
w3lib
wandb
wcwidth
webdriver-manager
wsproto
zope.interface
dj-rest-auth[with_social] 
django-allauth[socialaccount]
django-widget-tweaks